<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
				A proposito di METAR NOAA 
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3> Traduzione </h3> 
        <p> Questo è stato tradotto da uno strumento automatizzato. I scusiamo
        per questo. Si prega di notare che tutte le richieste di supporto e le
        segnalazioni saranno trattati con gli strumenti stessa lingua. L'autore
        parla solo inglese. </p> 

        <h3> Informazioni su </h3> 
        <p> Scritto da <a href="https://voltar.org/">Paul Miller</a> . 
            <span id='build-date'></span>
        </p>

        <p class='show-when-lite'> Questa è la &quot;<em>Lite</em>&quot;
        versione di questa applicazione. C'è una versione più
        pesante che tenta di decodificare i dati METAR e TAF come strumento di
        apprendimento. Se trovate non avete idea di come leggere i dati
        prestended da questa applicazione, si dovrebbe provare
        <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.noaa-metar">NOAA METAR</a>
        invece. Si prega di notare che il database decoder e l'aeroporto sono
        molto USA-centrica e, come tale, la versione standard non è disponibile
        a livello internazionale. </p> 

        <p class='hide-when-lite'> Questa applicazione è tutto METAR. I
        tentativi di elaborare i dati METAR sono puramente a fini didattici e
        di apprendimento. Questa applicazione è destinata solo alle persone che
        desiderano imparare a leggere METAR o già sanno come farlo. </p> 

        <p class='hide-when-lite'> Questa è la versione standard di questa
        applicazione. C'è anche una versione molto più leggera che non ha il
        database aeroporto né il decoder METAR. L'applicazione è molto più
        piccolo senza queste cose e quindi i carichi un po 'più veloce. Se sai
        già come leggere METAR e TAF, probabilmente si dovrebbe dare
        <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.noaa-metar-lite">METAR Lite</a>
        una prova. </p> 

        <p> È possibile segnalare i bug e nuove richieste utilizzando la issue tracker github: </p> 
            <div class='url'>
            <a href="http://github.com/jettero/noaa-metar/issues">http://github.com/jettero/noaa-metar/issues</a>
            </div>

        <p> Se è più facile, si può anche e-mail di sostegno, bug, richieste di funzionalità e di 
            <div class='url'>
            <a href="mailto:noaa-metar-feedback@voltar.org">noaa-metar-feedback@voltar.org</a>.
            </div>

        <p class='hide-when-lite'> Problemi con la decodifica METAR devono
        essere trasmessi utilizzando il modulo incorporato nella pagina
        decodificare. Se pensate che c'è un problema con una decodifica
        particolare, selezionare &quot;Segnala Decode Problema&quot; dal menu
        applicazioni sulla scheda di decodifica. </p> 

        <p> La fonte di tutto per questa applicazione possono essere trovate sul github: </p> 
            <div class="url"><a href="http://github.com/jettero/noaa-metar">http://github.com/jettero/noaa-metar</a></div>.

        <p> Alcuni inediti, release candidate build e storici si possono trovare sulle pagine gh: 
            <div class="url"><a href="http://jettero.github.com/noaa-metar">http://jettero.github.com/noaa-metar</a></div>.

        <h3>Copyright</h3>

        <p> Copyright 2010 Paul Miller </p>

        <h3> Licenza </h3> 

        <p> Questa applicazione è sotto licenza GNU GPLv3. 
            <div class="url"><a href="http://www.opensource.org/licenses/gpl-3.0.html">http://www.opensource.org/licenses/gpl-3.0.html</a></div>
        </p>

        <h3> Grazie </h3> 

        Jay Kiah — found a parser bug;
        SueB (aka poette) — requested the first Pxxx airport (Alaska, Hawaii)

    </div>

</div>
