<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
				NOAA METAR Aiuto 
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">

        <h3> Traduzione </h3> 
        <p> Questo è stato tradotto da uno strumento automatizzato. I scusiamo per questo. </p> 

        <h3> Che cosa è METAR? </h3> 

        <p> Dati METAR è una forma di dati meteo che viene in standardizzati
        leggibile (realmente!) del testo. sguardo piloti e meteorologi possono
        in una pagina di dati METAR e ottenere un accurato 3D immagine del
        tempo sulle regioni enorme e altitudini. </p> 

        <p> Ci vuole un certo sforzo per imparare, ma ne vale la pena. </p> 

        <p> Ecco alcuni link utili: 
        </p>
        
        <ul>
            <li> <a href="http://it.wikipedia.org/wiki/METAR">METAR on Wikipedia</a>
            <li> <a href="http://goo.gl/1YqVT">FMH-1 METAR Handbook (html)</a>
            <li> <a href="http://goo.gl/ZQdWl">Wikihow: METAR</a>
        </ul>

        <p> Questa è la fonte dei dati per questa applicazione. 
            <div class='url'>
            <a href="http://goo.gl/OInR5">http://weather.noaa.gov/weather/metar.shtml</a>
            </div>

        <h3 class='hide-when-lite'> Che dire TAF? </h3> 

        <p class='hide-when-lite'> [Nota dell'autore: io sono sempre un sacco di
        richieste di supporto TAF. Sto avendo un momento difficile trovare
        <em>buone</em> informazioni sulla decodificazione, ma sto lavorando su
        di esso. Il documento FMH-1 METAR, per esempio, enumerato tutto da ciò
        che le definizioni di dire, a come misurarli. Dove si trova il
        documento equivalente per TAF? Se avete informazioni su questo
        <a href="mailto:noaa-metar-feedback@voltar.org">me lo faccia sapere</a>.]
        </p>


        <ul class='hide-when-lite'>
            <li> <a href="http://goo.gl/lISJD">TAF on Wikipedia</a>
            <li> <a href="http://goo.gl/rg5nP">WMU Documents on GDPS</a>
            <li> <a href="http://goo.gl/suGOJ">Space Archive (tutorial)</a>
        </ul>

        <p class='hide-when-lite'> Non vi è alcun decoder ancora, ma se si
        desidera attivare la capacità di download TAF, creare un file sul disco
        USB (/media/internal/) chiamato TAF con del testo in esso. Qualsiasi
        testo farà. </p> 

    </div>

</div>
