.palm-page-header .icon.noaa-metar {
	background-image: url(header-icon.png);
}

.metar-text {
    font-size: 10pt !important;
}

.metar-code {
    /* from global-lists.css .label */
    color: #1f75bf;
    text-shadow: #ffffff 0px 1px 0px;
    font-weight: bold;
}

.metar.label {
    font-size: 9pt !important;
}

.metar-decode-txt {
    font-size: 10pt !important;
}

.metar-decode-txt .unknown-decode {
    color: gray; font-style: italic;
}

.explanation.topsplain {
    margin-left: 1em; margin-right: 1em;
    color: black;
}

.explanation {
    color: gray;
    font-size: 13px;
    font-weight: lighter;
}

.explanation .url {
    margin: 0;
    text-align: center;
    margin-bottom: 0.5em;
}

.explanation p {
    padding: 0; margin: 0;
    margin-bottom: 0.5em;
}

div.load-progress {
    background-image: url(progress-indicator.png);
    width: 48px;
    height: 48px;
    left: -24px;
    margin-top: -8px;
}

.show-when-lite { display: none; }

div.changelog-line { text-indent: -2em; margin-left: 2em; }
