.palm-page-header .icon.noaa-metar {
	background-image: url(header-icon.png);
}

.metar-text {
    font-size: 10pt !important;
}

.metar-code {
    /* from global-lists.css .label */
    color: #1f75bf;
    text-shadow: #ffffff 0px 1px 0px;
    font-weight: bold;
}

.metar.label {
    font-size: 9pt !important;
}

.metar-decode-txt {
    font-size: 10pt !important;
}
