<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
				Über NOAA METAR 
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3> Übersetzung </h3> 
        <p> Dies wurde durch ein automatisiertes Tool übersetzt. Ich für diese
        entschuldigen. Bitte beachten Sie, dass alle Support-Anfragen und
        Bug-Reports mit der gleichen Sprache Tools bearbeitet werden. Der Autor
        spricht nur Englisch. </p> 

        <h3> Über </h3> 
        <p> Geschrieben von <a href="https://voltar.org/">Paul Miller</a>. 
            <span id='build-date'></span>
        </p>

        <p class='show-when-lite'> Dies ist die
        <em>&quot;Lite-Version&quot;</em> dieses App. Es gibt eine schwerere
        Version, die versucht, die METAR und TAF-Daten als Lerninstrument zu
        dekodieren. Wenn Sie feststellen, haben Sie keine Ahnung, wie app lesen
        Sie die diese Daten durch prestended, sollten Sie vielleicht versuchen
        <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.noaa-metar">NOAA METAR</a>
        statt. Bitte beachten Sie, dass der Decoder und
        Flughafen-Datenbank sehr US-zentrisch und als solche sind, ist die
        Standard-Version nicht international zur Verfügung. </p> 

        <p class='hide-when-lite'> Diese App ist alles über METAR. Versuche,
        den Prozess METAR Daten werden ausschließlich für Bildungs-und
        Lernzwecken. Diese Anwendung ist nur für Leute, die lernen, METAR lesen
        oder wissen bereits, wie Sie dies tun wollen. </p> 

        <p class='hide-when-lite'> Dies ist die Standard-Version dieser App. Es
        gibt auch eine viel leichtere Version, die nicht über den Flughafen
        Datenbank noch die METAR-Decoder. Die App ist wesentlich kleiner, ohne
        diese Dinge und deshalb lädt recht ein bisschen schneller. Wenn Sie
        bereits wissen, wie man lesen METAR und TAF, sollten Sie vielleicht
        geben
        <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.metar-lite">METAR Lite</a>
        versuchen. </p> 

        <p> Sie können Fehler und Gesuche für neue Funktionen mithilfe der github issue tracker Bericht: </p> 
            <div class='url'>
            <a href="http://github.com/jettero/noaa-metar/issues">http://github.com/jettero/noaa-metar/issues</a>
            </div>

        <p> Wenn es einfacher ist, können Sie auch Email-Support, Bug-und Feature-Requests zu:
            <div class='url'>
            <a href="mailto:noaa-metar-feedback@voltar.org">noaa-metar-feedback@voltar.org</a>.
            </div>

        <p class='hide-when-lite'> Probleme mit METAR Dekodierung sollten
        anhand des Formulars in das decodieren Seite gebaut werden. Wenn Sie
        denken, es gibt ein Problem mit einem bestimmten entschlüsseln, wählen
        Sie &quot;Bericht Decode Problem&quot; aus dem App-Menü auf der
        Decode-Karte. </p> 

        <p> Der gesamte Quellcode für diese Anwendung kann auf github finden Sie hier: </p> 
            <div class="url"><a href="http://github.com/jettero/noaa-metar">http://github.com/jettero/noaa-metar</a></div>

        <p> Einige unveröffentlichte, Release Candidate und historischen baut auf die gh-pages gefunden werden: 
            <div class="url"><a href="http://jettero.github.com/noaa-metar">http://jettero.github.com/noaa-metar</a></div>.

        <h3>Copyright</h3>

        <p> Copyright 2010 Paul Miller </p>

        <h3> Lizenz </h3> 

        <p> Diese Anwendung ist unter der GNU GPLv3 lizenziert. 
            <div class="url"><a href="http://www.opensource.org/licenses/gpl-3.0.html">http://www.opensource.org/licenses/gpl-3.0.html</a></div>
        </p>

        <h3> Dank </h3> 

        Jay Kiah — found a parser bug;
        SueB (aka poette) — requested the first Pxxx airport (Alaska, Hawaii)

    </div>

</div>
