<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
				NOAA METAR Hilfe 
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">

        <h3> Übersetzung </h3> 
        <p> Dies wurde durch ein automatisiertes Tool übersetzt. Ich für diese entschuldigen. </p> 

        <h3> Was ist METAR? </h3>   

        <p> METAR-Daten ist eine Form von Wetterdaten, die in standardisierten
        lesbare (wirklich!) Text kommt. Piloten und Meteorologen können Blick
        auf eine Seite der METAR-Daten und erhalten Sie eine genaue 3D-Bild des
        Wetters über riesige Regionen und Höhenlagen. </p> 

        <p> Es dauert einige Mühe zu lernen, aber es lohnt sich. </p> 

        <p> Hier sind einige hilfreiche Links: 
        </p>
        
        <ul>
            <li> <a href="http://de.wikipedia.org/wiki/METAR">METAR on Wikipedia</a>
            <li> <a href="http://goo.gl/1YqVT">FMH-1 METAR Handbook (html)</a>
            <li> <a href="http://goo.gl/ZQdWl">Wikihow: METAR</a>
        </ul>

        <p> Dies ist die Quelle der Daten für diese Anwendung. 
            <div class='url'>
            <a href="http://goo.gl/OInR5">http://weather.noaa.gov/weather/metar.shtml</a>
            </div>

        <h3 class='hide-when-lite'> Was TAF? </h3> 

        <p class='hide-when-lite'> [Anmerkung des Autors: Ich erhalte viele
        Anfragen für TAF unterstützen. Ich habe eine harte Zeit der Suche nach
        <em>guten</em> Informationen über Dekodierung, aber ich bin es
        arbeitet. Die FMH-1 METAR Dokument, zum Beispiel alles von aufgezählt,
        was die Definitionen bedeuten, wie man sie messen. Wo ist das
        gleichwertige Schriftstück für TAF? Wenn Sie diese Informationen über
        eine <a href="mailto:noaa-metar-feedback@voltar.org">lass es mich wissen</a>.]
        </p> 

        <ul class='hide-when-lite'>
            <li> <a href="http://goo.gl/lISJD">TAF on Wikipedia</a>
            <li> <a href="http://goo.gl/rg5nP">WMU Documents on GDPS</a>
            <li> <a href="http://goo.gl/suGOJ">Space Archive (tutorial)</a>
        </ul>

        <p class='hide-when-lite'> Es gibt keinen Decoder noch nicht, aber wenn
        Sie möchten, dass auf TAF Download-Funktion wiederum eine Datei auf
        Ihrem USB-Laufwerk (/media/internal/) genannt TAF mit etwas Text in
        ihr. Jeder Text wird zu tun. </p> 

    </div>

</div>
