<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
				A propos de METAR NOAA 
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3> Traduction </h3> 
        <p> Ceci s'est traduit par un outil automatisé. Je m'excuse pour cela.
        S'il vous plaît noter que toutes les demandes de soutien et de rapports
        de bugs seront traitées avec les outils de même langue.  L'auteur ne
        parle qu'anglais. </p> 

        <h3> A propos </h3> 
        <p> Écrit par <a href="https://voltar.org/">Paul Miller</a>. 
            <span id='build-date'></span>
        </p>

        <p class='show-when-lite'> Il s'agit de la version
        <em>&quot;Lite&quot;</em> de ce soft. Il ya une version plus lourde
        que les tentatives pour décoder les METAR et TAF de données comme outil
        d'apprentissage. Si vous trouvez que vous avez aucune idée de comment
        lire les données prestended par cette application, vous devriez
        probablement essayer
        <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.noaa-metar">NOAA METAR</a>
        lieu. S'il vous plaît noter que la base de données décodeur et de
        l'aéroport sont très centrés sur les É.-U. et en tant que telle, la
        version standard n'est pas disponible au niveau international. </p> 

        <p class='hide-when-lite'> Ce soft est tous les METAR sujet. Les
        tentatives visant à traiter les données METAR sont purement à des fins
        éducatives et d'apprentissage. Cette application est destinée
        uniquement aux personnes qui souhaitent apprendre à lire METAR ou
        savent déjà comment faire. </p> 

        <p class='hide-when-lite'> Il s'agit de la version standard de ce soft.
        Il ya aussi une version beaucoup plus légère qui n'a pas la base de
        données de l'aéroport, ni le décodeur METAR. Le soft est nettement plus
        faible, sans ces choses et donc des charges un peu plus rapide. Si vous
        savez déjà comment lire METAR et TAF, vous devriez probablement donner
        <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.noaa-metar-lite">METAR Lite</a>
        essayer. </p> 

        <p> Vous pouvez rapporter les bugs et fonctionnalités demande en utilisant le suivi de problèmes github: </p> 
            <div class='url'>
            <a href="http://github.com/jettero/noaa-metar/issues">http://github.com/jettero/noaa-metar/issues</a>
            </div>

        <p> Si il est plus facile, vous pouvez aussi envoyer un courriel de soutien, bug, et demandes de fonctionnalités à 
            <div class='url'>
            <a href="mailto:noaa-metar-feedback@voltar.org">noaa-metar-feedback@voltar.org</a>.
            </div>

        <p class='hide-when-lite'> Problèmes avec le décodage METAR doivent
        être déclarés en utilisant le formulaire intégré dans la page de
        décoder. Si vous pensez qu'il ya un problème avec un décodeur
        spécifique, sélectionnez &quot;Problème Decode Rapport&quot; dans le
        menu application sur la carte de décodage. </p> 

        <p> La source ENTIER verser this may application sur github Trouvé être de: </p>  
            <div class="url"><a href="http://github.com/jettero/noaa-metar">http://github.com/jettero/noaa-metar</a></div>

        <p> Certains &quot;release candidate&quot; inédits, et historique construit se trouve sur le gh-pages: 
            <div class="url"><a href="http://jettero.github.com/noaa-metar">http://jettero.github.com/noaa-metar</a></div>

        <h3> Copyright </h3> 

        <p> Copyright 2010 Paul Miller </p> 

        <h3> Licence </h3> 

        <p> Ce soft est distribué sous licence GNU GPLv3. 
            <div class="url"><a href="http://www.opensource.org/licenses/gpl-3.0.html">http://www.opensource.org/licenses/gpl-3.0.html</a></div>
        </p>

        <h3> Merci </h3> 

        Jay Kiah — found a parser bug;
        SueB (aka poette) — requested the first Pxxx airport (Alaska, Hawaii)

    </div>

</div>
