<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
				Aide METAR NOAA 
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3> Traduction </h3> 
        <p> Ceci s'est traduit par un outil automatisé. Je m'excuse pour cela. </p> 

        <h3> Qu'est-ce que METAR? </h3> 

        <p> Données METAR est une forme de données météorologiques qui vient en
        standard lisible par l'homme (vraiment!) texte. regard des pilotes et
        les météorologues peuvent à une page de données METAR et d'obtenir une
        image 3D précise de la météo sur de vastes régions et altitudes. </p> 

        <p> Il prend un certain effort d'apprendre, mais ça vaut le coup. </p> 

        <p> Voici quelques liens utiles: 
        </p>
        
        <ul>
            <li> <a href="http://fr.wikipedia.org/wiki/METAR">METAR on Wikipedia</a>
            <li> <a href="http://goo.gl/1YqVT">FMH-1 METAR Handbook (html)</a>
            <li> <a href="http://goo.gl/ZQdWl">Wikihow: METAR</a>
        </ul>

        <p> C'est la source des données pour cette application. 
            <div class='url'>
            <a href="http://goo.gl/OInR5">http://weather.noaa.gov/weather/metar.shtml</a>
            </div>

        <h3 class='hide-when-lite'> Qu'en est-il TAF? </h3> 

        <p class='hide-when-lite'> [Note de l'auteur: Je reçois beaucoup de
        demandes de soutien TAF. Je vais avoir du mal à trouver de
        <em>bonnes</em> informations sur le décodage, mais je travaille
        là-dessus. Le document FMH-1 METAR, par exemple, a énuméré tout ce que
        les définitions de dire, à la façon de les mesurer. Où se trouve le
        document équivalent, pour TAF? Si vous avez des informations sur ce
        <a href="mailto:noaa-metar-feedback@voltar.org">laissez-moi savoir</a>.]
        </p> 

        <ul class='hide-when-lite'>
            <li> <a href="http://goo.gl/lISJD">TAF on Wikipedia</a>
            <li> <a href="http://goo.gl/rg5nP">WMU Documents on GDPS</a>
            <li> <a href="http://goo.gl/suGOJ">Space Archive (tutorial)</a>
        </ul>

        <p class='hide-when-lite'> Il n'ya pas de décodeur, mais si vous
        souhaitez activer la capacité de téléchargement TAF, créer un fichier
        sur votre disque USB (/media/internal/) appelé TAF avec du texte
        dedans. Tout texte fera l'affaire. </p> 

    </div>

</div>
