<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
                Acerca de METAR NOAA
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3>Traducción</h3>

        <p> Esto se tradujo por una herramienta automatizada. Me disculpas por esto.
            Tenga en cuenta que todas las solicitudes de apoyo y los informes
            de error será traducido por las mismas herramientas.  El autor sólo
            habla Inglés.
        </p>

        <h3> Acerca de </h3>
        <p> Escrito por <a href="https://voltar.org/">Paul Miller</a>.
            <span id='build-date'></span>
        </p>

        <p class='show-when-lite'> Esta es la versión <em>&quot;Lite&quot;</em>
        de esta aplicación. Hay una versión más pesada que los intentos de
        decodificar el METAR y TAF de datos como herramienta de aprendizaje. Si
        usted encuentra que no tiene idea de cómo leer los datos prestended por
        esta aplicación, probablemente debería tratar
        <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.noaa-metar">NOAA METAR</a>
        lugar. Tenga en cuenta que la base de datos del decodificador y el
        aeropuerto son muy centrado en Estados Unidos y, como tal, la versión
        estándar no está disponible a nivel internacional.
        </p>

        <p class='hide-when-lite'> Esta aplicación es todo acerca de METAR. Los
        intentos de procesar los datos METAR son puramente para los propósitos
        educativos y que aprenden. Esta aplicación está destinada sólo para las
        personas que deseen aprender a leer METAR o ya saben cómo hacerlo. </p>

        <p class='hide-when-lite'> Esta es la versión estándar de esta
        aplicación. También hay una versión mucho más ligera que no tiene la
        base de datos del aeropuerto ni el decodificador de METAR. La
        aplicación es considerablemente más pequeño, sin estas cosas y por lo
        tanto las cargas de un poco más rápido. Si ya saben leer METAR y TAF,
        probablemente debería dar
        <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.metar-lite">METAR Lite</a> intentarlo. </p>

        <p> Usted puede reportar errores y características solicitud utilizando el gestor de incidencias github: </p>
            <div class='url'>
            <a href="http://github.com/jettero/noaa-metar/issues">http://github.com/jettero/noaa-metar/issues</a>
            </div>

        <p> Si es más fácil, también puede enviar un email de apoyo, de errores, y peticiones de
            <div class='url'>
            <a href="mailto:noaa-metar-feedback@voltar.org">noaa-metar-feedback@voltar.org</a>
            </div>

        <p class='hide-when-lite'> Problemas con la decodificación METAR
            deberían consignarse en el formulario incorporado en la página de
            decodificar. Si crees que hay un problema con una decodificación en
            particular, seleccione &quot;Reporte de Problema Decode&quot; en el menú
            de aplicaciones en la tarjeta de descodificación. </p>

        <p> El código fuente para esta aplicación se puede encontrar en GitHub: </p>
            <div class="url"><a href="http://github.com/jettero/noaa-metar">http://github.com/jettero/noaa-metar</a></div>

        <p> Algunos candidatos inéditas, la liberación e histórico se basa se pueden encontrar en la gh-pages:
            <div class="url"><a href="http://jettero.github.com/noaa-metar">http://jettero.github.com/noaa-metar</a></div>

        <h3> Derecho de Autor </h3>

        <p> Copyright 2010 Paul Miller </p>

        <h3> Licencia </h3>

        <p> Esta aplicación está licenciado bajo la GNU GPLv3.
            <div class="url"><a href="http://www.opensource.org/licenses/gpl-3.0.html">http://www.opensource.org/licenses/gpl-3.0.html</a></div>
        </p>

        <h3> Gracias </h3>

        Jay Kiah — found a parser bug;
        SueB (aka poette) — requested the first Pxxx airport (Alaska, Hawaii)

    </div>

</div>
