<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
                NOAA METAR Ayuda
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3>Traducción</h3>

        <p> Esto se tradujo por una herramienta automatizada. Me disculpas por esto. </p>

        <h3>¿Qué es METAR?</h3>

        <p> Los datos METAR es una forma de datos meteorológicos que viene en
            estándar legible (de verdad!) texto. Pilotos de vista y los
            meteorólogos pueden en una página de datos METAR y obtener una
            imagen en 3D con precisión el clima sobre regiones enormes y
            altitudes. </p>

        <p> Sin embargo, toma un poco de esfuerzo para aprender, pero vale la pena. </p>

        <p> Éstos son algunos enlaces útiles:
        </p>
        
        <ul>
            <li> <a href="http://es.wikipedia.org/wiki/METAR">METAR on Wikipedia</a>
            <li> <a href="http://goo.gl/1YqVT">FMH-1 METAR Handbook (html)</a>
            <li> <a href="http://goo.gl/ZQdWl">Wikihow: METAR</a>
        </ul>

        <p> Esta es la fuente de los datos de esta aplicación.
            <div class='url'>
            <a href="http://goo.gl/OInR5">http://weather.noaa.gov/weather/metar.shtml</a>
            </div>

        <h3 class='hide-when-lite'>What about TAF?</h3>

        <p class='hide-when-lite'> [Nota del autor: Estoy recibiendo una gran
        cantidad de solicitudes de apoyo TAF. Estoy teniendo dificultades para
        encontrar <em>buena</em> información en la decodificación, pero estoy
        trabajando en ello. El documento FMH-1 METAR, por ejemplo, enumera
        todo, desde lo que las definiciones decir, a la manera de medirlos.
        ¿Dónde está el documento equivalente, para TAF? Si usted tiene
        información sobre este
        <a href="mailto:noaa-metar-feedback@voltar.org">hágamelo saber</a>. ] </p>

        <ul class='hide-when-lite'>
            <li> <a href="http://goo.gl/lISJD">TAF on Wikipedia</a>
            <li> <a href="http://goo.gl/rg5nP">WMU Documents on GDPS</a>
            <li> <a href="http://goo.gl/suGOJ">Space Archive (tutorial)</a>
        </ul>

        <p class='hide-when-lite'>
            No hay decodificador todavía, pero si desea activar la capacidad de
            descarga TAF, cree un archivo en tu memoria USB (/media/internal/)
            llamado TAF con algún texto en ella. Cualquier texto que va a
            hacer. </p>

    </div>

</div>
