<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
				About NOAA METAR
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <!--
        <h3>Translation</h3>
        <p> This was translated by an automated tool.  I appologize for this. </p>
        -->

        <h3>About</h3>
        <p> Written by <a href="https://voltar.org/">Paul Miller</a>.
            <span id='build-date'></span>
        </p>

        <p class='show-when-lite'> This is the “<em>Lite</em>” version of this
            app.  There is a heavier version that attempts to decode the METAR
            and TAF data as a learning tool.  If you find you have no idea how
            to read the data prestended by this app, you should probably try
            <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.noaa-metar">NOAA METAR</a>
            instead.  Please note that the decoder and airport database are
            very US-centric and as such, the standard version is not available
            internationally.
        </p>

        <p class='hide-when-lite'> This app is all about METAR.  Attempts to
            process the METAR data are purely for educational and learning
            purposes.  This app is intended only for people who wish to learn
            to read METAR or already know how to do so. </p>

        <p class='hide-when-lite'> This is the standard version of this app.
            There is also a much lighter version that does not have the airport
            database nor the METAR decoder.  The app is considerably smaller
            without these things and therefore loads quite a bit faster.  If
            you already know how to read METAR and TAF, you should probably
            give
            <a href="http://developer.palm.com/appredirect/?packageid=org.voltar.metar-lite">METAR Lite</a>
            a try.
        </p>

        <p> You may report bugs and request features by using the github issue tracker: </p>
            <div class='url'>
            <a href="http://github.com/jettero/noaa-metar/issues">http://github.com/jettero/noaa-metar/issues</a>
            </div>

        <p> If it is easier, you may also email support, bug, and feature requests to
            <div class='url'>
            <a href="mailto:noaa-metar-feedback@voltar.org">noaa-metar-feedback@voltar.org</a>
            </div>

        <p class='hide-when-lite'> Problems with METAR decoding should be reported using the form
            built into the decode page.  If you think there's a problem with a
            particular decode, select “Report Metar Decode” from the app menu
            on the Decode card. </p>

        <p> The entire source for this app can be found on github: </p>
            <div class="url"><a href="http://github.com/jettero/noaa-metar">http://github.com/jettero/noaa-metar</a></div>

        <p> Some unreleased, release candidate and historical builds can be found on the gh-pages:
            <div class="url"><a href="http://jettero.github.com/noaa-metar">http://jettero.github.com/noaa-metar</a></div>

        <h3>Copyright</h3>

        <p> Copyright 2010 Paul Miller </p>

        <h3>License</h3>

        <p> This app is licensed under the GNU GPLv3.
            <div class="url"><a href="http://www.opensource.org/licenses/gpl-3.0.html">http://www.opensource.org/licenses/gpl-3.0.html</a></div>
        </p>

        <h3>Thanks</h3>

        Jay Kiah — found a parser bug;
        SueB (aka poette) — requested the first Pxxx airport (Alaska, Hawaii)

    </div>

</div>
