<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
				NOAA METAR ChangeLog
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">

        <h3>Help Me</h3>

        <p> Please consider making a <a href="http://donate.voltar.org/HMCT">donation</a>
            if you enjoy this app.  </p>

        <h3>ChangeLog</h3>
        <div id="changelog" x-mojo-element="List"></div>

    </div>

</div>
