<div id="noaa-metar-main" class="noaa-metar-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon noaa-metar"></div>
	        <div class="title">
				NOAA METAR
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3>What is METAR?</h3>

        <p> METAR data is a form of weather data that comes in standardized
            human readable (really!) text.  Pilots and meteorologists can
            glance at a page of METAR data and get an accurate 3D picture of
            the weather over huge regions and altitudes. </p>

        <p> It does take some effort to learn, but it's worth it. </p>

        <p> Here are some helpful links:
        </p>
        
        <ul>
            <li> <a href="http://goo.gl/PaBKT">METAR on wikipedia</a>
            <li> <a href="http://goo.gl/1YqVT">FMH-1 METAR Handbook (html)</a>
            <li> <a href="http://goo.gl/ZQdWl">Wikihow: METAR</a>
        </ul>

        <p> This is the source of the data for this app.
            <div class='url'>
            <a href="http://goo.gl/OInR5">http://weather.noaa.gov/weather/metar.shtml</a>
            </div>

    </div>

</div>
